autopep8==1.5.4
cvxopt==1.2.5
cvxpy==1.1.7
Cython==0.29.21
ecos==2.0.7.post1
joblib==1.0.0
numpy==1.19.4
osqp==0.6.2.post0
pandas==1.1.5
pycodestyle==2.6.0
python-dateutil==2.8.1
pytz==2021.1
qdldl==0.1.5.post0
qpsolvers==1.5
quadprog==0.1.8
scikit-learn==0.24.0
scipy==1.5.4
scs==2.1.2
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
toml==0.10.2
